#mood-img img
{
    height:20px;
}

.ul-chooser
{
    height:20px;
}

.ul-chooser li
{
    padding:0px 5px 0px 5px;
}

.ul-chooser li img
{
    opacity:0.4;
    height:20px;
}

.ul-chooser li img:hover
{
    opacity:1.0;
}

.mood-set
{
    display:none
}

.mood-related
{
    display:none
}

#whitespace
{
    height:50px;
}