/*Create Project Carusel*/
#create-carusel .step
{
    height: 50px;
    width: 50px;
    padding: 6px;
    background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
    border-radius: 50%;
    border: 1px solid grey;
    font-size: 25px;
    color: white;
    margin: 0 auto;
}

#create-carusel .item
{
    min-height: 500px;
    color: #000;
    padding: 20px 0;
}

#create-carusel .controls
{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
}

    #create-carusel .controls li
    {
        display: table-cell;
        opacity: 0.4;
        width: 1%;
        max-width: 90px;
    }

        #create-carusel .controls li.active
        {
            background-color: #eee;
            opacity: 1;
        }

    #create-carusel .controls a small
    {
        overflow: hidden;
        display: block;
        font-size: 10px;
        margin-top: 5px;
        color: black;
        font-weight: bold;
    }

#create-carusel .projectTeam
{
    border-left: 3px solid #eee;
}

/*Projects List*/
.status
{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.redStatus
{
    background-color: #FF0033;
}

.greenStatus
{
    background-color: #00FF99;
}

.yellowStatus
{
    background-color: #FFFF66;
}

/* Project Select*/
.projectBlock
{
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 30px;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    vertical-align: middle;
    min-height: 100px;
}

    .projectBlock:hover
    {
        background: #e7e7e7;
        text-decoration: none;
        color: black;
    }


.projectWrapper
{
    min-height: 100px;
}

.projectName
{
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px)
{
    .projectBlock
    {
        text-align: center;
        margin: 0px;
        border: 0px;
        border-top: 2px solid #e7e7e7;
        border-left: 2px solid #e7e7e7;
        border-right: 2px solid #e7e7e7;
        border-radius: 0px;
        vertical-align: middle;
        min-height: 80px;
    }

    .projectWrapper
    {
        min-height: 80px;
    }

        .projectWrapper:first-child .projectBlock
        {
            border-radius: 10px 10px 0px 0px;
        }

        .projectWrapper:last-child .projectBlock
        {
            border-bottom: 2px solid #e7e7e7;
            border-radius: 0px 0px 10px 10px;
        }

    .projectName
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*Project Details*/
.projectSummary
{
    min-height: 275px;
}
