#user-block-dropdown
{
    min-width: 200px;
}

@media (max-width: 768px)
{
    #user-block
    {
        margin-left: 12px;
    }
}

#user-block-dropdown a:link
{
    color: white;
}

#user-block-dropdown a:visited
{
    color: white;
}

#user-block-dropdown a:hover
{
    color: white;
}

#user-block-dropdown a:active
{
    color: white;
}
