#user-block-dropdown
{
    min-width: 200px;
}



#profile-btn
{
    width:42%;
    float:left;
    margin-left:7%;
}

#logout-btn
{
    width:42%;
    float:right;
    margin-right:7%;
}

#user-block-dropdown .btn
{
    width:100%;
}