@{
    ViewBag.Title = "Tasks";
}

<h2>Today Tasks</h2>

<div class="row wrapper">
    @foreach (var project in Model)
    {       
        <h3>@project.Name</h3>
        
        <table class="table table-striped">
            <tr>
                <th width="70%">Name</th>
                <th>Status</th>
                <th>Due</th>
                <th>Action</th>
            </tr>
            @foreach (var task in project.Tasks)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Status</td>
                    <td>@task.Due</td>
                    <td>
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#timeSheetModal">Log Work</button></td>
                </tr>
            }
        </table>        
    }

    <div class="modal fade" id="timeSheetModal" tabindex="-1" role="dialog" aria-labelledby="timeSheetModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="timeSheetModalLabel">Create Time Sheet</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Date">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Hours</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Hours">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-10">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

</div>
