<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DataContext"
       connectionString="Server=249c5f9b-ad4f-4ea4-863e-a317014e19d1.sqlserver.sequelizer.com;Database=db249c5f9bad4f4ea4863ea317014e19d1;User ID=acqrqinphanfcqgr;Password=SFjThAKGBtAjPbz4S87n4nyPuNr5j2kyeSwgonMGCgou2w4qHMAfQcVEgByBjNwH;"
       providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>