@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>TEMPUS Flow</h1>
</div>

<ul class="timeline">
    <li>
        <div class="timeline-badge success">
            <i class="fa fa-plus"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Project Created</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago</small> by <a href="">Mel</a>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge info">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Project Description Changed</h4>
                    <p>
                        <small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago</small> by <a href="">Mel</a>
                    </p>
                </div>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge success" title="Project Directive">
            <i>PD</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Project Directive Added</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>10 hours ago</small> by <a href="">Mel</a>
                </p>
            </div>
            <div class="timeline-body">
                <p><strong>Background: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <p><strong>Scope: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <p><strong>Objectives: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <p><strong>Context: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <p><a href="" class="btn btn-default"><i class="fa fa-edit"></i>Edit</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge info">
            <i class="fa fa-comment"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Comment</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>10 hours ago</small> by <a href="">John</a>
                </p>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge success" title="Project Plan">
            <i>PP</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Project Plan Added</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>10 hours ago</small> by <a href="">Mel</a>
                </p>
            </div>
            <div class="timeline-body">
                <p><strong>Background/Project Idea: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <p><strong>Scope: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <p><strong>Schedule: </strong></p>
                <ul>
                    <li><a href="">Task List</a></li>
                    <li><a href="">Gantt Diagram</a></li>
                    <li><a href="">Resources</a></li>
                </ul>
                <p><strong>Risks: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptatum, dolore, ex, voluptas animi alias rem unde eum tenetur facere nostrum eveniet iure vitae repellat ab fugiat sit nemo harum.</p>
                <ul>
                    <li><a href="">Risks List</a></li>
                </ul>
                <p><a href="" class="btn btn-default"><i class="fa fa-edit"></i>Edit</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge info">
            <i class="fa fa-comment"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Comment</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>10 hours ago</small> by <a href="">Jane</a>
                </p>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge danger">
            <i class="fa fa-bolt"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Task became red</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>10 hours ago</small>
                </p>
            </div>
            <div class="timeline-body">
                <p><strong>Task description: </strong>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                <p>
                    <button type="button" class="btn btn-default">Open task</button></p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge info">
            <i class="fa fa-comment"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Comment</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>9 hours ago</small> by <a href="">Mel</a>
                </p>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge info">
            <i class="fa fa-comment"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Comment</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>9 hours ago</small> by <a href="">Jane</a>
                </p>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge success">
            <i class="fa fa-plus"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Task Added</h4>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>9 hours ago</small> by <a href="">Mel</a>
                </p>
            </div>
            <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                <p>
                    <button type="button" class="btn btn-default">Open task</button></p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge">
            <i>DP4</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: grey;">Not reached yet. <a href="">Add?</a></h4>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge">
            <i>DP5</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: grey;">Not reached yet. <a href="">Add?</a></h4>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge">
            <i>DP6</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: grey;">Not reached yet. <a href="">Add?</a></h4>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge">
            <i>DP7</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: grey;">Not reached yet. <a href="">Add?</a></h4>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge">
            <i>DP8</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: grey;">Not reached yet. <a href="">Add?</a></h4>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge" title="Final Report">
            <i>FR</i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title" style="color: grey;">Not reached yet. <a href="">Add?</a></h4>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge info"><i class="fa fa-comment"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Add Activity</h4>
            </div>
            <div class="timeline-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form accept-charset="UTF-8" action="" method="POST">
                                        <textarea class="form-control counted" name="message" placeholder="Type in your message" rows="5" style="margin-bottom: 10px;"></textarea>
                                        <button class="btn btn-info" type="submit">Post New Message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
